{
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {},
  "rules": {
    "strict": 0,
    "dot-notation": 2,
    "eqeqeq": 2,
    "linebreak-style": 2,
    "curly": [
      2,
      "all"
    ],
    "guard-for-in": 2,
    "wrap-iife": 2,
    "no-use-before-define": [
      2,
      {
        "functions": false
      }
    ],
    "new-cap": [
      2,
      {
        "newIsCap": true,
        "capIsNew": true,
        "properties": false
      }
    ],
    "no-caller": 2,
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "no-new": 2,
    "no-plusplus": 2,
    "no-undef": 2,
    "no-unused-vars": 2,
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "keyword-spacing": [
      2,
      {}
    ],
    "space-before-blocks": [
      2,
      "always"
    ],
    "space-before-function-paren": [
      2,
      {
        "anonymous": "always",
        "named": "never"
      }
    ],
    "one-var": [
      2,
      "always"
    ],
    "padded-blocks": [
      2,
      "never"
    ],
    "array-bracket-spacing": [
      2,
      "never"
    ],
    "space-in-parens": [
      2,
      "never"
    ],
    "quote-props": [
      2,
      "as-needed"
    ],
    "key-spacing": [
      2,
      {
        "beforeColon": false,
        "afterColon": true
      }
    ],
    "comma-style": [
      2,
      "last"
    ],
    "space-unary-ops": [
      2,
      {
        "words": false,
        "nonwords": false
      }
    ],
    "space-infix-ops": 2,
    "no-with": 2,
    "no-multiple-empty-lines": 2,
    "quotes": [
      2,
      "single"
    ],
    "no-mixed-spaces-and-tabs": 2,
    "no-trailing-spaces": 2,
    "comma-dangle": [
      2,
      "never"
    ],
    "brace-style": [
      2,
      "1tbs",
      {
        "allowSingleLine": true
      }
    ],
    "eol-last": 2,
    "consistent-this": [
      2,
      "self"
    ],
    "yoda": [
      2,
      "never"
    ],
    "valid-jsdoc": 2,
    "spaced-comment": [
      2,
      "always"
    ]
  }
}
