language: node_js

node_js:
  - "4"
  - "0.12"
  - "0.10"
  - "6"

sudo: false

cache:
  directories:
    - node_modules

matrix:
  allow_failures:
    - node_js: "6"
  fast_finish: true
  include:
    - node_js: "4"
      env: TEST_SUITE=lint

branches:
  except:
    - /^greenkeeper-.+$/

script:
  - if [ "TEST_SUITE" == "lint" ]; then npm run lint; else npm run mocha; fi
