[Unit]
Description=Ghost systemd service for blog: <%= name %>
Documentation=https://docs.ghost.org

[Service]
Type=simple
WorkingDirectory=<%= dir %>
User=<%= user %>
Environment="NODE_ENV=<%= environment %>"
ExecStart=<%= ghost_exec_path %> run
Restart=always

[Install]
WantedBy=multi-user.target
