[Unit]
Description=Ghost systemd service for blog: <%= name %>
# Documentation=add documentation link here

[Service]
Type=notify
NotifyAccess=all
WorkingDirectory=<%= dir %>
User=<%= user %>
Environment="NODE_ENV=<%= environment %>"
ExecStart=<%= ghost_exec_path %> run
Restart=on-failure

[Install]
WantedBy=multi-user.target
