name: E2E Tests
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  e2e:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04]
        password: [root]
        node: [22.x]
    steps:
      - name: Start nginx
        run: sudo service nginx start
      - name: Updating hosts file
        run: 'echo -e "127.0.0.1 cli-testing.ghost.org\n" | sudo tee -a /etc/hosts'
      - uses: actions/checkout@v4
        with:
          path: "cli"
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
          cache-dependency-path: cli/yarn.lock
        env:
          FORCE_COLOR: 0
      - name: Start MySQL service
        run: sudo systemctl start mysql.service
      - name: Prepare CLI
        run: |
          cp -r ./cli /opt/cli
          chmod 755 /opt/cli
          cd /opt/cli
          yarn install --frozen-lockfile
          sudo ln -s /opt/cli/bin/ghost /usr/local/bin/ghost
      - name: Setting up install directory
        run: |
          mkdir /opt/ghost-e2e-test
          chmod 775 /opt/ghost-e2e-test
      - name: Setting up Ghost instance
        run: |
          ghost install \
            -d /opt/ghost-e2e-test \
            --auto \
            --no-prompt \
            --url http://cli-testing.ghost.org \
            --db mysql \
            --dbhost 127.0.0.1 \
            --dbuser root \
            --dbpass ${{ matrix.password }} \
            --dbname ghost-mysql
      - name: Debugging Failure
        if: failure()
        run: journalctl -u ghost_cli-testing-ghost-org -n 100
      - name: Verifying Installation
        run: curl http://cli-testing.ghost.org | grep ghost
