name: E2E Tests
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  e2e:
    runs-on: ${{ matrix.os }}
    name: ${{ matrix.os }}
    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-20.04]
        password: [root]
        node: [18.x]
    steps:
      - name: Start nginx
        run: sudo service nginx start
      - name: Updating hosts file
        run: 'echo -e "127.0.0.1 cli-testing.ghost.org\n" | sudo tee -a /etc/hosts'
      - uses: actions/checkout@v4
        with:
          path: 'cli'
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
          cache-dependency-path: cli/yarn.lock
        env:
          FORCE_COLOR: 0
      - name: Start MySQL service
        run: sudo systemctl start mysql.service
      - name: Prepare CLI
        run: |
          cd cli
          yarn install --frozen-lockfile
          sudo yarn link --link-folder /usr/bin/
      - name: Setting up Ghost instance
        run: |
          ghost install \
            -d ghost \
            --auto \
            --no-prompt \
            --url http://cli-testing.ghost.org \
            --db mysql \
            --dbhost localhost \
            --dbuser root \
            --dbpass ${{ matrix.password }} \
            --dbname ghost-mysql
      - name: Verifying Installation
        run: curl http://cli-testing.ghost.org | grep ghost
