name: Unit Tests
on:
  pull_request:
  push:
    branches:
      - 1.x
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ 12.x, 14.x, 16.x ]
    env:
      FORCE_COLOR: 1
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: yarn
        env:
          FORCE_COLOR: 0
      - run: yarn
      - run: yarn lint
      - run: yarn test
